<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
    <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body class="theme-base-08">
    {% block sidebar %}
      <div class="sidebar">

        <div class="container">
          <div class="sidebar-about">
            {% block sidebar_about %}
              <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
              {% if config.description %}
              <p class="lead">{{config.description}}</p>
              {% endif %}
            {% endblock sidebar_about %}
          </div>

          <ul class="sidebar-nav">
            {% block sidebar_nav %}
            {% for link in config.extra.links %}
            <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
            {% endfor %}
            {% endblock sidebar_nav %}
          </ul>
        </div>
      </div>
    {% endblock sidebar %}

    <div class="content container">
      {% block content %}
        <div class="posts">
            {% if paginator.previous %}
                <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
            {% endif %}
            {% if paginator.next %}
                <a class="next" href="{{ paginator.next }}">Next ›</a>
            {% endif %}
          {% for page in paginator.pages %}
          <div class="post">
            <h1 class="post-title">
              <a href="{{ page.extra.url }}" target="_blank">
              {{ page.title }}
              </a>
            </h1>
            {{ page.extra.source }}
            <span class="post-date">{{ page.date | date(format="%Y-%m-%d %H:%M:%S") }}</span>
          </div>
          {% endfor %}
        </div>
      {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
      {% endblock content %}
    </div>
  </body>
</html>
