{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">
    <a href="{{ page.extra.url }}" target="_blank">
    {{ page.title }}
    </a>
  </h1>
  {{ page.extra.source }}
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d %H:%M:%S") }}</span>
</div>
{% endblock content %}

